# Телеграм и права администратора
BOT_TOKEN=<YOUR:TELEGRAM_BOT_TOKEN> # @BotFather
ADMIN_IDS=<YOUR:TELEGRAM-ID> # @userinfobot
BACKUP_CHAT_ID=<YOUR:TELEGRAM-ID_PRIVATE-GROUP> # @userinfobot
# Можете оставить значение пустым. В таком случае всё будет отправляться в личные сообщения с ботом.

# Шифрование
# Используйте следующую команду, для генерации своего Fernet-ключа:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=<YOUR:FERNET_CRYPTO-KEY>

# Режим разработки и тестирования
# Раскомментируйте переменные ниже для переключения в режим песочницы:
# DEV_MODE=True         # Активирует заглушки вместо подключения к реальным серверам.
# DB_DIR=data_dev       # Создает БД в отдельной папке, чтобы изолировать её.

# Ноды AmneziaWG
WG_API_URL_1=http://<NODE1_IP>:51823
WG_PASSWORD_1=<YOUR:AWG-EASY_PASSWORD>
WG_API_NAME_1=RU # ccTLD
WG_API_URL_2=http://<NODE2_IP>:51823
WG_PASSWORD_2=<YOUR:AWG-EASY_PASSWORD>
WG_API_NAME_2=NL # ccTLD

# MTPROTO-MANAGER SIDECARS
MTPROTO_MGR_URL_1=http://<NODE1_IP>:8000
MTPROTO_HOST_1=<NODE1_IP>
MTPROTO_PORT_1=443
MTPROTO_MGR_URL_2=http://<NODE2_IP>:8000
MTPROTO_HOST_2=<NODE2_IP>
MTPROTO_PORT_2=443

# Подписка
SUBSCRIPTION_DAYS=30
PAYMENT_EXPIRE_HOURS=24

# Проверка и алерты
NODE_ALERT_THRESHOLD=3
DB_BACKUP_HOUR=4

# Рассылка
BROADCAST_BATCH_SIZE=20
BROADCAST_DELAY=1.5

# Логи
LOG_LEVEL=INFO
